<button (click)=carInfoList>getCarInfoList</button>

<mat-toolbar color="primary">
  <mat-toolbar-row>
  <span>Car Info App</span>
  </mat-toolbar-row>
</mat-toolbar>

<table mat-table [dataSource]="carInfoList">
  <ng-container matColumnDef="registration">
    <th mat-header-cell *matHeaderCellDef> Registration </th>
    <td mat-cell *matCellDef="let el"> {{ el.registration }} 
      <button mat-icon-button aria-label="edit button icon" (click)="changeRegistrationDialog(el.id, 'newRegistration')">
        <mat-icon>edit</mat-icon>
      </button>
    </td>
  </ng-container>
  <ng-container matColumnDef="mileage">
    <th mat-header-cell *matHeaderCellDef> Mileage </th>
    <td mat-cell *matCellDef="let el"> {{ el.mileage }} </td>
  </ng-container>
  <ng-container matColumnDef="battery_status">
    <th mat-header-cell *matHeaderCellDef> Battery </th>
    <td mat-cell *matCellDef="let el"> {{ el.battery_status }} </td>
  </ng-container>
  <ng-container matColumnDef="fuel">
    <th mat-header-cell *matHeaderCellDef> Fuel (litres)</th>
    <td mat-cell *matCellDef="let el"> {{el.fuel_liters }} {{ el.fuel_level !== null && el.fuel_level >= 0 ? '('+el.fuel_level+'%)' : '' }} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


